h1 {
    text-align: center; 
}

p {
    font-size: 20px;
    line-height: 20px;
    line-height: 150%;
    line-height: 1.5;
}

header {
    text-align: center;
    text-align: right;
    text-align: left;
    text-align: justify;
}